USE [master]
GO
/****** Object:  Database [CG_TechPro]    Script Date: 31-07-2023 14:52:04 ******/
CREATE DATABASE [CG_TechPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CG_TechPro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CG_TechPro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CG_TechPro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CG_TechPro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CG_TechPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CG_TechPro]
GO
/****** Object:  Table [dbo].[Assigned]    Script Date: 31-07-2023 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assigned](
	[A_Id] [int] IDENTITY(1,1) NOT NULL,
	[Emp_Code] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[AssignedAtUTC] [datetime] NOT NULL,
	[AssignedBy] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[A_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 31-07-2023 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[D_Id] [uniqueidentifier] NOT NULL,
	[D_Type] [varchar](50) NOT NULL,
	[CreatedAtUTC] [datetime] NOT NULL,
	[UpdatedAtUTC] [datetime] NULL,
	[CreatedBy] [varchar](200) NOT NULL,
	[UpdatedBy] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[D_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 31-07-2023 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Emp_Code] [int] IDENTITY(240,1) NOT NULL,
	[U_Id] [int] NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[CreatedAtUTC] [datetime] NOT NULL,
	[UpdatedAtUTC] [datetime] NULL,
	[CreatedBy] [varchar](200) NOT NULL,
	[UpdatedBy] [varchar](200) NULL,
	[IsAdmin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 31-07-2023 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[I_Id] [uniqueidentifier] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[D_Id] [uniqueidentifier] NOT NULL,
	[Serial] [uniqueidentifier] NOT NULL,
	[Specifications] [varchar](200) NOT NULL,
	[CreatedBy] [varchar](200) NOT NULL,
	[D_State] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31-07-2023 14:52:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[U_Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[U_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([U_Id], [UserName], [Password]) VALUES (1, N'bhoomika@cginfinity.com', N'$2a$11$CFs9lweEW5u4TELTlu714usldUo3vkJxPYVGSZdISjgbSaLAfKmFi')
INSERT [dbo].[Users] ([U_Id], [UserName], [Password]) VALUES (2, N'jashandeep.singla@cginfinity.com', N'$2a$11$ce6uTlFnI3StGBwZyASMS.c.B5w2DuPlp2XnbiKCy/N5JTzn0zsiG')
INSERT [dbo].[Users] ([U_Id], [UserName], [Password]) VALUES (3, N'harleen.chadha@cginfinity.com', N'$2a$11$sbjplWqQi35mz3RWs9p3B.GVNvj3HAjH5tTTeONiX.hOUofcf0qJW')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT (NULL) FOR [UpdatedAtUTC]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT (NULL) FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (NULL) FOR [UpdatedAtUTC]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (NULL) FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[Assigned]  WITH CHECK ADD  CONSTRAINT [FK_Assigned_Emp_Code] FOREIGN KEY([Emp_Code])
REFERENCES [dbo].[Employee] ([Emp_Code])
GO
ALTER TABLE [dbo].[Assigned] CHECK CONSTRAINT [FK_Assigned_Emp_Code]
GO
ALTER TABLE [dbo].[Assigned]  WITH CHECK ADD  CONSTRAINT [FK_Assigned_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Inventory] ([Id])
GO
ALTER TABLE [dbo].[Assigned] CHECK CONSTRAINT [FK_Assigned_Id]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_U_Id] FOREIGN KEY([U_Id])
REFERENCES [dbo].[Users] ([U_Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_U_Id]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_D_Id] FOREIGN KEY([D_Id])
REFERENCES [dbo].[Devices] ([D_Id])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_D_Id]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [CK_Devices_CreatedBy] CHECK  (([CreatedBy]<>''))
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [CK_Devices_CreatedBy]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [CK_Devices_D_Type] CHECK  (([D_Type]<>''))
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [CK_Devices_D_Type]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CK_Employee_CreatedBy] CHECK  (([CreatedBy]<>''))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CK_Employee_CreatedBy]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CK_Employee_Name] CHECK  (([Name]<>''))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CK_Employee_Name]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [CK_Inventory_CreatedBy] CHECK  (([CreatedBy]<>''))
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [CK_Inventory_CreatedBy]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [CK_Inventory_D_State] CHECK  (([D_State]<>''))
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [CK_Inventory_D_State]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_U_Id] CHECK  (([UserName]<>''))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_U_Id]
GO
USE [master]
GO
