
<style>
    .container{
    display: flex;
    justify-content: center;
   
}
.card{
    margin: 0.5%;
    
}
.Add{
    display: block;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2%;
    color: rgb(2,2,73);
    display:none;
  }
 

  /* Style for the input box */
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black; /* Adding the light gray line at the bottom */
    padding: 5px;

  }

  /* Style for the heading */
  h2 {
    margin-bottom: 10px;
  }

  /* Style for the button */
  .button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: rgb(255,174,0
    );
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  .AssignDevice {
    display: block;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
   margin-bottom:3%;
   display: none;
  }
  .cardAd{
border:0px;
  }

  .but{
    background-color: rgb(255,174,0
        );
        background-color: rgb(255,174,0
    );
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 15px;
    width:100%;
  }
  .UserStatus{
    display: block;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2%;
    color: rgb(2,2,73);
    display:none;
    
  }
  .DeviceStatus{
    display: block;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 3%;
    color: rgb(2,2,73);
  

  }
</style>
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      
  </div>

  <!-- Content Row -->
  <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-lg font-weight-bold text-dark text-uppercase mb-1">
                            Add Device</div>
                            <p class="card-text">To add a device into your system </p>
                            <button type="button" onclick="showAddDevice()" class="but">Add Device</button>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                            Assign Device</div>
                               <p class="card-text">Assign an user a device from your system</p>
                            <button type="button" class="but" onclick="showAssign()">Assign Device</button>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">Device Status
                        </div>
                          <p class="card-text">Check all your devices  in inventory</p>
                        <button type="button" class="but" onclick="DeviceStatus()">Check Status</button>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                            User Status</div>
                             <p class="card-text">check the status for the employees</p>
                             <button type="button" class="but">Check Status</button>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container Add" >
  <h1 class="my-2">Add Device</h1>
  <input type="text" class="input-box" placeholder="Enter device name">
  <button class="button ">Add</button>
</div>
<div class="container-fluid px-1 py-5 mx-auto AssignDevice" >
  <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <h1>Assign Device</h1>
      
          <div class="card  cardAd">
              <h5 class="text-center mb-4"></h5>
              <form class="form-card p-4" onsubmit="event.preventDefault()">
                  <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label ">User Name<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname" placeholder="Enter User Name" onblur="validate(1)"> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label ">User ID <span class="text-danger"> *</span></label> <input type="text" id="lname" name="lname" placeholder="Enter User Id" onblur="validate(2)"> </div>
                  </div>
                  <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label ">Device Type<span class="text-danger"> *</span></label> <input type="text" id="email" name="email" placeholder="Enter Device Type" onblur="validate(3)"> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label ">Device Id<span class="text-danger"> *</span></label> <input type="text" id="mob" name="mob" placeholder="Enter Device Id" onblur="validate(4)"> </div>
                  </div>
                  <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label ">Assigned by<span class="text-danger"> *</span></label> <input type="text" id="email" name="email" placeholder="Enter Employee Code" onblur="validate(3)"> </div>
              
                </div>
                  
                 
                  <div class="row justify-content-center">
                      <div class="form-group col-sm-6 m-5">  <button type="button" class="but">Assign Device</button> </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<div class="container  UserStatus mb-5">

        <div class="row justify-content-center">

            <div class="col-md-6">

                <h1 class="text-center mb-4">Device Status</h1>

                <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="Search for devices">

                </div>

                <div class="d-flex justify-content-center mb-3"> <!-- Center align the filters -->

                    <div class="form-check form-check-inline">

                        <input class="form-check-input" type="checkbox" id="assignedFilter">

                        <label class="form-check-label" for="assignedFilter">Assigned</label>

                    </div>

                    <div class="form-check form-check-inline">

                        <input class="form-check-input" type="checkbox" id="unassignedFilter">

                        <label class="form-check-label" for="unassignedFilter">Unassigned</label>

                    </div>

                    <div class="form-check form-check-inline">

                        <input class="form-check-input" type="checkbox" id="repairFilter">

                        <label class="form-check-label" for="repairFilter">Repair</label>

                    </div>

                </div>

                <div class="text-center">

                    <button class="but">Show Devices</button> <!-- Show Devices button -->

                </div>

            </div>

        </div>

    </div>
    <div class="container DeviceStatus ">

        <div class="row justify-content-center">

            <div class="col-md-6">

                <h1 class="text-center mb-4">User Status</h1> <!-- Added mb-4 class for margin-bottom -->

                <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="Enter UserId">

                </div>

                <div class="text-center">

                    <button class="but">Show All Devices</button>

                </div>

            </div>

        </div>

    </div>
    <script>
  function showAddDevice() {
  var addDeviceContainer = document.querySelector(".container.Add");
  if (addDeviceContainer) {
     var displayStyle = window.getComputedStyle(addDeviceContainer).display;
    if (displayStyle === "none") {
      // If the element is hidden, show it
      addDeviceContainer.style.display = "block";
    } else {
      // If the element is visible, hide it
      addDeviceContainer.style.display = "none";
    }
  } else {
   addDeviceContainer.style.display = "none";
  }
}

function showAssign() {
  var addDeviceContainer = document.querySelector(".container-fluid.AssignDevice");
  if (addDeviceContainer) {
     var displayStyle = window.getComputedStyle(addDeviceContainer).display;
    if (displayStyle === "none") {
      // If the element is hidden, show it
      addDeviceContainer.style.display = "block";
    } else {
      // If the element is visible, hide it
      addDeviceContainer.style.display = "none";
    }
  } else {
   addDeviceContainer.style.display = "none";
  }
}
  function DeviceStatus() {
  var addDeviceContainer = document.querySelector(".container.UserStatus");
  if (addDeviceContainer) {
     var displayStyle = window.getComputedStyle(addDeviceContainer).display;
    if (displayStyle === "none") {
      // If the element is hidden, show it
      addDeviceContainer.style.display = "block";
    } else {
      // If the element is visible, hide it
      addDeviceContainer.style.display = "none";
    }
  } else {
   addDeviceContainer.style.display = "none";
  }
}
    </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
